*
{
    box-sizing: border-box;
}
body
{
    margin:0;
    padding:0;
    background-color:#eeeeee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Gridview setup for mobile-first design */
[class*='col']
{
    width:100%;
    float:left;
}
/* End of gridview implementations */


/* Navbar */
.navBar
{
    background-color:black;   
    text-align:center;
    position:-webkit-sticky;
    position:sticky;
    top:0;
}
#navBtn
{
    color:white;
    display:block;
    text-decoration:none;
}
.navItems
{
    display:flex;
    flex-direction:column;
    width:100%;
    padding:0 0;
    background-color:#333333;

    display:none;
    
    text-align:center;
}
.navItems a
{
    color: white;
    padding:2vw 0;
    text-decoration: none;
}
.navItems a:not(:last-child)
{
    border-bottom: 1px solid #555555;
}

.navItems a:active
{
    background-color:white;
    color:black;
}


.left
{
    width:50%;
    padding-left: 1vw;
    padding-right: 0.5vw;
}
.right
{
    width:50%;
    padding-left:0.5vw;
    padding-right: 1vw;
}


.imgCard{
    position: relative;
    margin-bottom: 1vw;
}
.imgCard img
{
    /* Constrain images within their columns while maintaining aspect ratio.*/
    width:100%;
    height:auto;
    display:block;
}
.imgDesc
{
    /* Setting this up to completely overlap the imgCard*/
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;

    /* Now prepping it for its hover action.*/
    visibility:hidden;
    opacity:0;
    background-color:rgba(0, 0, 0, 0.7);
    transition: visibility 0, opacity 0.5s;
}
.imgDesc span
{
    color:white;
    font-weight: bold;
    font-size:100%;
    position:absolute;
    top:50%;
    left:50%;

    transform: translate(-50%, -50%);
}
.imgCard:hover .imgDesc
{
    visibility: visible;
    opacity: 1;
}


/* Content area stylings */
#contentArea
{
    display:flex;
    padding: 1vw 0;
    z-index:0;
}

#modal
{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    background-color: rgba(0,0,0,0.7);

    display:none;
}
.modalSetup
{
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
    text-align:center;
    /* For larger resolutions, add left 50%.*/
}
#modalImage
{
    width:100%;
    height:auto;
    display:block;
}
#modalCaption
{
    color:white;
    font-weight:bold;
    font-size:5vw;
}
.modalSetup, #modalImage, #modalCaption
{
    animation-name: imageZoom;
    animation-duration: 0.5s;
    -webkit-animation-name: imageZoome;
    -webkit-animation-duration: 0.5s;
}

@-webkit-keyframes imageZoom
{
    from{transform: scale(0.1);}
    to{transform: scale(1);}
}
@keyframes imageZoom
{
    from{transform: translate(0.1);}
    to{transform: translate(1);}
}


/* Media Queries */

/* My browser goes to a min width of 350px... create another set of rules for >350px*/