*
{
    box-sizing: border-box;
}

body
{
    padding:0;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Gridview implementation */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{Width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
/* End of Gridview */


/* Sidebar stylings here. Content area stylings further below.*/
.sidebar
{
    margin:0;
    padding:0;

    float:left;
    width:7%;
    background-color: #000000;
    height:100%;

    position:fixed;
    top:0px;
    left:0px;
}
#navBtn
{
    position:absolute;
    right:5px;
    top:5px;
    padding:0;
    margin:0;

    font-size:30px;
    color:white;
    text-decoration:none;
}
#sidebar-items
{
    height:100%;
    padding:100px 0;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    text-align:center;
}
#sidebar-items a
{
    color:white;
    text-decoration:none;
    padding:10px;
    margin:10px;
    font: size 20px;

    margin-left:10%;
    margin-right:10%;
    border-radius:5px;
}
#sidebar-items a:hover
{
    background-color:white;
    color:black;

}


/* Main content area stylings below.*/
.content
{
    margin:0;
    padding:0 75px;
    width:93%;
    float:right;
}
.container
{
    position:fixed;
    top:0;
    left:7%;
    right:0;
    bottom:0;

    z-index:-1;
}
.centerText-heading, #subHeading
{
    font-size:100px;
    color:white;
    text-align:center;
    -webkit-text-fill-color:white;
}
.centerText-heading
{
    padding:100px;
    padding-bottom: 200px;
}
#subHeading
{
    font-size:60px;
}

img.bgImg
{
    object-fit: cover;
}
.bgImgOverlay
{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    background-color: lightblue;
    opacity:0.5;
}


/* This bit for styling hr is from stackoverflow, because I couldn't figure it out... */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}


/* The styles for content section cards */
.clearfix::after
{
    content:"";
    clear:both;
    display:table;
}
.content-section
{
    /*background-color: #ccc;*/
    background-color: #aaa;
    box-shadow: #000000;
    position:relative;
    padding:5px 5px;

    box-shadow: 0 5px 15px #555555;
}
.content-text
{
    position:absolute;
    top:0;
    bottom:0;
}
.content-text p
{
    padding:0;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    color:white;
    font-size:20px;
}
img.sectionImg-left, img.sectionImg-right
{
    height:auto;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
}
img.sectionImg-left
{
    float: left;
}
img.sectionImg-right
{
    float:right;
}


/* Spacing classes. */
.whitespace
{
    display:block;
    height:300px;
}
.half-whitespace
{
    display:block;
    height:150px;
}
.quarter-whitespace
{
    display:block;
    height:75px;
}
.eighth-whitespace
{
    display:block;
    height:37.5px;
}